<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Ask A Friend</a></h1>
        </li>
    </ul>
</nav>
<div class="row">
<h1>Test Panel</h1>

<a href="#" class="button" id="make-call-button">Make a Test Call</a>
<a href="#" class="button" id="add-user-button">Add User</a>
<a href="/users.json" class="button" id="list-user-button">List Users</a>
<a href="#" class="button" id="add-contact-button">Add Contacts</a>
<a href="/contacts.json" class="button" id="list-contact-button">List Contacts</a>
</div>
